.container > header{
  width: 100%;
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-centralize{
  width: 1216px;
  height: 460px;
  display: flex;
}

header .header-centralize .header-text-wraper,
header .header-centralize .header-image-wraper{
  height: 100%;
}

header .header-centralize .header-text-wraper{
  min-width: 816px;
  display: flex;
  align-items: center;
}

header .header-centralize .br::before{
  content: '\A';
  white-space: pre;
}

header .header-centralize .header-image-wraper{
  min-width: 400px;
}

header .header-centralize .header-text-wraper .header-text{
  width: 581px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-centralize .header-text-wraper .header-text .header-title h1{
  font-size: 37px;
  font-weight: 600;
}

.header-centralize .header-text-wraper .header-text .header-title span:not(.br-repo){
  color: #846AFF;
}

.header-centralize .header-text-wraper .header-text .header-text-sub h2{
  font-size: 24px;
  font-weight: 400;
}

.header-centralize .header-text-wraper .header-text .header-button button{
  width: 214px;
  height: 49px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #846AFF;
  color: whitesmoke;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-centralize .header-image-wraper .header-image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

section.container-infos{
  width: 100%;
  height: 1073px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-infos .sub-infos-wraper{
  width: 1216px;
  height: 913px;
}

.container-infos .sub-infos-wraper header{
  width: 100%;
  height: 15%;
}

.container-infos .sub-infos-wraper header h1{
  font-size: 32px;
}

.container-infos .sub-infos-wraper .container-infos-wraper{
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer{
  width: 100%;
  height: 649px;
  background-color: #F8F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container-form{
  width: 592px;
  height: 489px;
}

footer .container-form header{
  width: 100%;
  height: 20%;
  text-align: center;
}

footer .container-form .container-inputs{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer .container-form .container-inputs .input-wraper{
  width: 100%;
}

footer .container-form .container-inputs .input-wraper.input-text{
  height: 59px;
}

footer .container-form .container-inputs .input-wraper.textarea{
  height: 150px;
}

footer .container-form .container-inputs .input-wraper textarea{
  width: 100%;
  height: 100%;
  border: 1px solid #EAEAEA;
  color: #7C7C8A;
  font-size: 18px;
  padding: 15px;
  outline: none;
}

footer .container-form .container-inputs .input-wraper input{
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #EAEAEA;
  color: #7C7C8A;
  font-size: 18px;
  padding-left: 20px;
}

footer .container-form .container-inputs .input-wraper.button{
  height: 47px;
}

footer .container-form .container-inputs .input-wraper button{
  width: 100%;
  height: 100%;
  background-color: #846AFF;
  color: whitesmoke;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

footer .container-form .container-inputs .input-wraper button:active, .header-centralize .header-text-wraper .header-text .header-button button:active{
  background-color: #6C5CE7;
}

@media screen and (max-width: 1300px){
  header .header-centralize{
    justify-content: space-around;
  }

  header .header-centralize .header-text-wraper{
    min-width: 50%;
  }

  .container-infos .sub-infos-wraper .container-infos-wraper{
    height: 100%;
  }

  .container-infos .sub-infos-wraper header{
    width: 95%;
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 1100px){
  .container-infos .sub-infos-wraper header{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1070px){
  section.container-infos{
    height: 1200px;
  }

  .container-infos .sub-infos-wraper{
    height: 100%;
  }

  .container-infos .sub-infos-wraper header{
    height: 8%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 1000px){
  .container > header{
    min-height: 764px;
    margin-bottom: 10%;
  }

  header .header-centralize{
    width: 550px;
    height: 636px;
    flex-direction: column-reverse;
    justify-content: start;
  }

  header .header-centralize .header-image-wraper{
    height: 60%;
    display: flex;
    justify-content: center;
  }

  header .header-centralize .header-image-wraper .header-image{
    width: 330px;
    max-height: 379px;
  }

  header .header-centralize .header-text-wraper{
    text-align: center;
    height: 40%;
  }

  header .header-centralize .header-text-wraper .header-text .header-title h1{
    font-size: 32px;
  }

  header .header-centralize .header-text-wraper .header-text .header-text-sub h2{
    font-size: 20px;
  }

  .container-infos .sub-infos-wraper header h1{
    font-size: 28px;
  }

  footer .container-form{
    width: 90%;
    margin: 0 auto;
  }

  footer .container-form header{
    text-align: left;
  }

  footer .container-form header h1{
    font-size: 28px;
  }
}

@media screen and (max-width: 990px){
  section.container-infos{
    height: 1275px;
  }

  .container-infos .sub-infos-wraper header{
    height: 7%
  }

  .container-infos .container-infos-wraper{
    height: 80% !important;
  }

  .container-infos .container-infos-wraper .info-wraper{
    max-height: 350px;
  }
}

@media screen and (max-width: 790px){
  section.container-infos{
    height: 2592px;
  }

  section.container-infos .sub-infos-wraper header{
    height: 4% !important;
  }

  .container-infos .container-infos-wraper{
    height: 96% !important;
  }
}

@media screen and (max-width: 570px){
  .container > header{
    min-height: 643px;
    margin-bottom: 30%;
  }

  header .header-centralize{
    width: 85%;
    height: 515px;
  }

  header .header-centralize .br::before{
    content: '';
    white-space: inherit;
  }

  header .header-centralize .br-repo::before{
    content: '\A';
    white-space: pre;
  }

  header .header-centralize .header-image-wraper{
    min-width: 100%;
    height: 50%;
  }

  header .header-centralize .header-image-wraper .header-image{
    width: 207px;
    height: 240px;
  }

  header .header-centralize .header-text-wraper{
    align-items: inherit;
  }

  header .header-centralize .header-text-wraper .header-text .header-title h1{
    font-size: 24px;
  }

  header .header-centralize .header-text-wraper .header-text .header-button button{
    width: 100%;
  }
}

@media screen and (max-width: 440px){
  header .header-centralize .header-text-wraper .header-text .header-title h1{
    font-size: 20px;
  }

  header .header-centralize .header-text-wraper .header-text .header-text-sub h2{
    font-size: 16px;
  }
}
