<div class="container">
  <header>
    <div class="header-centralize">
      <div class="header-text-wraper">
        <div class="header-text">
          <div class="header-title">
            <h1>Encontre os <span>melhores artigos</span> <br/> de programação em um <span class="br-repo">só</span> lugar</h1>
          </div><!-- header-title -->

          <div class="header-text-sub">
            <h2>Explore o topo da programação em um <span class="br-repo">só</span> lugar! <span class="br"></span>
              Seu destino único para dicas e tendências atuais.</h2>
          </div><!-- header-text -->

          <div class="header-button">
            <button>Buscar artigos</button>
          </div><!-- header-button -->
        </div><!-- header-text -->
      </div><!-- header-text-wraper -->

      <div class="header-image-wraper">
        <div class="header-image" style="background-image: url('assets/images/header-image.jpg');"></div><!-- header-image -->
      </div><!-- header-image-wraper -->
    </div><!-- container-centralize -->
  </header>

  <section class="container-infos">
    <div class="sub-infos-wraper">
      <header>
        <h1>Artigos recomendados</h1>
      </header>

      <div class="container-infos-wraper">
        @for(info of dados; track info){
          <div class="info-wraper">
            <app-infos [url_image]="info.url_image" [title]="info.title" [description]="info.description"></app-infos>
          </div><!-- info-wraper -->
        }
      </div><!-- container-infos-wraper -->
    </div><!-- sub-infos-wraper -->
  </section><!-- container-infos -->

  <footer>
    <div class="container-form">
      <header>
        <h1>Entre em contato</h1>
      </header>

      <div class="container-inputs">
        <div class="input-wraper input-text">
          <input type="text" placeholder="Nome">
        </div><!-- input-wraper -->

        <div class="input-wraper input-text">
          <input type="Email" placeholder="Email">
        </div><!-- input-wraper -->

        <div class="input-wraper textarea">
          <textarea placeholder="Assunto da mensagem" style="resize: none;"></textarea>
        </div><!--  input-wraper -->

        <div class="input-wraper button">
          <button>entrar em contato</button>
        </div><!-- input-wraper -->

      </div><!-- container-inputs -->
    </div><!-- container-form -->
  </footer>
</div><!-- container -->
