<div class="container">
  <header>
    <div class="header-centralize">
      <div class="header-text-wraper">
        <div class="header-text">
          <div class="header-title">
            <h1>Encontre os <span>melhores artigos</span> <br/> de programação em um só lugar</h1>
          </div><!-- header-title -->

          <div class="header-text-sub">
            <h2>Explore o topo da programação em um só lugar! <br/>
              Seu destino único para dicas e tendências atuais.</h2>
          </div><!-- header-text -->

          <div class="header-button">
            <button>Buscar artigos</button>
          </div><!-- header-button -->
        </div><!-- header-text -->
      </div><!-- header-text-wraper -->

      <div class="header-image-wraper">
        <div class="header-image"></div><!-- header-image -->
      </div><!-- header-image-wraper -->
    </div><!-- container-centralize -->
  </header>
</div><!-- container -->
