.container > header{
  width: 100%;
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-centralize{
  width: 1216px;
  height: 460px;
  display: flex;
}

header .header-centralize .header-image-wraper, header .header-centralize .header-text-wraper{
  height: 100%;
}

header .header-centralize .header-text-wraper{
  min-width: 816px;
  display: flex;
  align-items: center;
}

header .header-centralize .header-image-wraper{
  min-width: 400px;
}

.header-centralize .header-text-wraper .header-text{
  width: 581px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-centralize .header-text-wraper .header-text .header-title h1{
  font-size: 37px;
  font-weight: 600;
}

.header-centralize .header-text-wraper .header-text .header-title span{
  color: #846AFF;
}

.header-centralize .header-text-wraper .header-text .header-text-sub h2{
  font-size: 24px;
  font-weight: 400;
}

.header-centralize .header-text-wraper .header-text .header-button button{
  width: 214px;
  height: 49px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #846AFF;
  color: whitesmoke;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-centralize .header-image-wraper .header-image{
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/header-image.png');
  background-size: cover;
  background-repeat: no-repeat;
}

section.container-infos{
  width: 100%;
  height: 1073px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-infos .sub-infos-wraper{
  width: 1216px;
  height: 913px;
}

.container-infos .sub-infos-wraper header{
  width: 100%;
  height: 15%;
}

.container-infos .sub-infos-wraper header h1{
  font-size: 32px;
}

.container-infos .sub-infos-wraper .container-infos-wraper{
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
